.container{
	text-align: center;
	padding: 20px;
}

#click{
	width: 200px;
	text-align: center;
	font-size: 30px;
	padding: 5px;
	font-family: ubuntu;
	background-color: transparent;
	border: 3px ridge crimson;
	border-radius: 25px;
	cursor: pointer;
}

#click:hover{
	background-color: lightsalmon;
}